* {
  box-sizing: border-box;
  font-size: 8px;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0.5rem;
}

table {
  empty-cells: hide;
  width: 100%;
  border-spacing: 4px;
}

td {
  width: 5.5%;
  border-radius: 2px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 0.8rem;
}

tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3) td:nth-child(6),
tr:nth-child(3) td:nth-child(7),
tr:nth-child(4) td:nth-child(16) {
  background-color: rgb(255, 255, 50);
}

tr:nth-child(4),
tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(7) {
  background-color: rgb(81, 148, 81);
}

tr:nth-child(2) td:nth-child(8),
tr:nth-child(3) td:nth-child(8),
tr:nth-child(n + 4) td:nth-child(17),
tr:nth-child(7) td:nth-child(15) {
  background-color: rgb(255, 171, 162);
}

tr:nth-child(2) td:nth-child(4),
tr:nth-child(-n + 6) td:last-child,
tr:nth-child(7) td:nth-child(16) {
  background-color: rgb(240, 179, 240);
}

tr:nth-child(2) td:nth-child(4),
tr:nth-child(3) td:nth-child(5),
tr:nth-child(4) td:nth-child(14),
tr:nth-child(4) td:nth-child(15),
tr:nth-child(5) td:nth-child(15),
tr:nth-child(5) td:nth-child(16),
tr:nth-child(6) td:nth-child(16) {
  background-color: rgb(255, 162, 209);
}

tr:nth-child(n + 2) td:nth-child(2),
tr:nth-child(7) td:last-child {
  background-color: pink;
}
tr:nth-child(n + 3) td:nth-last-child(6),
tr:nth-child(5) td:nth-child(14),
tr:nth-child(6) td:nth-child(14),
tr:nth-child(7) td:nth-child(14) {
  background-color: rgb(252, 214, 220);
}

tr:nth-child(n + 2) td:first-child,
tr:last-child td:nth-child(n + 1),
tr:nth-child(7) td:nth-child(3),
tr:nth-child(7) td:nth-child(17) {
  background-color: rgb(96, 215, 245);
}

tr:nth-child(8) td:nth-child(n + 1),
tr:nth-child(6) td:nth-child(3) {
  background-color: lightblue;
}
